# Node
frontend/node_modules/
frontend/build/
npm-debug.log*

# Python
backend/venv/
backend/env/
backend/.venv/
backend/__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite
*.sqlite3

# OS / Environment
.DS_Store
.env
